.pyramid {
  width: 100%;
  height: 80vh;
  -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.pyramid_section {
  flex: 1 1 100%;
  background-color: blue;
  margin-bottom: 2px;
  font-weight: bolder;
}

.pyramid_section:nth-of-type(1) {
  background-color: red;
}

.pyramid_section:nth-of-type(2) {
  background-color: green;
}

.pyramid_section:nth-of-type(3) {
  background-color: purple;
}

.pyramid_section:nth-of-type(4) {
  background-color: cyan;
}

.pyramid_section:nth-of-type(5) {
  background-color: yellow;
}

.pyramid_section:nth-of-type(6) {
  background-color: orange;
}

.pyramid_section:hover {
  background-color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 32%;
  text-align: center;
}

.veganu-box {
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: 40px;
}

.veganu-box>div {
  background-color: #BFEEB7;
  margin: 8px;
  padding: 5px;
}

@media (max-width: 767px) {
  .card {
    width: 96%;
  }
}